body{
  background-color: #dedede;
}
p{
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
}
#p1{
  color: #ff0000;
}
#p2{
  color: #00ff00;
}
#p3{
  color: #0000ff;
}
